<div class="my-3">
<h3>Add a Todo Here!</h3>
<form class="w-25 p-3 mx-auto" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Todo Tile</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="title" id="title" >
    </div>
    <div class="form-group mb-3">
      <label for="desc">Todo Description</label>
      <input type="text" class="form-control" name="desc" [(ngModel)]="desc" id="desc">
    </div>
    <button type="submit" class="btn btn-primary mb-3">Add Todo</button>
  </form>
</div>