<div class="card my-3 mx-auto w-25 p-3">
    <div class="card-body">
<h3 [ngClass]="{'strike' : !todo?.active}">{{todo?.sno}}{{todo?.title}}</h3>
<p>{{todo?.desc}}</p>
<input type="checkbox" class="form-check-input" id="exampleCheck" (click)="onCheckBoxClick(todo)" [checked]="!todo?.active">
<p>Mark as Done</p>
<button class="btn btn-danger mb-6" (click)="onClick(todo)">Delete</button>
</div>
</div>