<div class="text-center mb-3">
    <h5> {{title}}</h5>
    <div *ngIf="this.todos?.length===0 else elseBlock">No Todos To Display</div>
    <ng-template #elseBlock></ng-template>
    <ul *ngFor="let todo of todos">
       <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (toggleCheckBox)="toggleTodos($event)"></app-todo-item>
    </ul>
</div>
